.main {
    margin: 0 auto;
    padding: 0 20px;
    width: clamp(296px, 100vw, 679px);
    min-height: clamp(416px, 100%, 439px);
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../assets/img/Kitten.jpg'), url('../assets/img/Kitten.jpg');
    background-repeat: no-repeat;
    background-position: top 23px right 9px, top 0px right 9px;
    background-size: auto;
    @media screen and (max-height: 419px) {
        background-image: url('../assets/img/Kitten.jpg') no-repeat top right 9px;
    }
    @media screen and (max-width: 679px) {
        background-image: none;
    }
}

.header {
    margin-top: 22px;
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    font-family: 'Kreon';
    font-size: 96px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0em;
    text-align: left;

    span {
        padding: 0 3px;
        display: flex;
        flex-direction: column;
        text-align: left;
        &:last-child {
            font-family: 'Kreon';
            font-size: 20px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
        }
    } 
}

.fullname {
    margin: 20px -20px 0;
    padding: 43px 57px 42px;
    background-color: #000000;
    color: #fff;
    font-family: 'Kreon';
    font-size: 96px;
    font-weight: 400;
    line-height: 121px;
    letter-spacing: 0em;
    text-align: left;
    @media screen and (max-width: 679px) {
        font-family: 'Kreon';
        font-size: 64px;
        font-weight: 400;
        line-height: 81px;
        letter-spacing: 0em;
        text-align: center;
    }

}